
.visual{
  padding-top: 120px;
  .inner{
    position: relative;
    height: 512px;
    padding: 48px;
    border-radius: 24px;
    background: $base-color url(#{$image-url}visual_bg.jpg) no-repeat center right;
    transform: translateY(50px);
    .path{
      position: absolute;
      &-01{
        top: 5px;
        right: 4px;
        .line{
          animation-delay: 1s;
        }
      }
      &-02{
        top: 269px;
        left: 522px;

      }
    }

    .tit{
      font-size: 64px;
      line-height: 1;
      font-weight: 800;
    }
    .flex-box{
      margin-top: 24px;
      gap: 96px;
    }
    .count-box{
      .count{
        font-size: 32px;
        line-height: 48px;
      }
    }
    .search-area{
      width: 450px;
      margin-top: 48px;
      padding: 8px;
      border-radius: 12px;
      background: #fff;
      input{
        width: 80%;
        height: 48px;
        padding-left: 10px;
        font-size: 18px;
      }     
      .btn-search{
        float: right;
        width: 48px;
        height: 48px;
        border-radius: 12px;
        background-color: $base-color;
      } 
    }
  }
  &.up{
    .inner{
      transform: translateY(0);
      transition: transform 2s cubic-bezier(.19,1,.22,1);
    }
  }
}

.btn-more{
  margin-top: 24px;
  padding: 12px 24px;
  border-radius: 8px;
  background-color: $base-color;
  .icon-arrow{
    margin-left: 10px;
    transition: transform 0.3s;
  }
  &:hover{
    .icon-arrow{
      transform: translateX(5px);
    }
  }
}

.best{
  padding: 96px 0 112px;
  .inner{
    > .flex-box{
      @include flex-box($align: flex-start,$gap: 60px);
    }
    .info-box{
      width: 196px;
      flex-shrink: 0;
    }
    .product{
      gap: 48px;
      li{
        .img{
          display: block;
          width: 100%;
          height: 363px;
          border-radius: 12px;
          overflow: hidden;
        }
        .name{
          margin-top: 12px;
        }
        .price{
          margin-top: 7px;
          @include font-op(0.5);
        }
      }
    }
  }
}
.issue{
  position: relative;
  min-height: 500px;
  background: url(#{$image-url}plant_bg.jpg) no-repeat center / cover;
  background-attachment: fixed;
  &::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    left: 0;
  }
  .inner{
    position: relative;
    padding: 80px 0;
    color: #fff;
    .sec-tit{
      b{
        font-size: 60px;
        color: $base-color;
      }
    }
    .sec-text{
      width: 50%;
      margin-top: 30px;
      word-break: keep-all;
      color: #fff;
    }
  }
}


.about{
  padding: 165px 0;
  .inner{
    .flex-box{
      margin-top: 48px;
      gap: 24px;
    }
    .item{
      flex: 1;
      .icon-area{
        position: relative;
        display: inline-block;
        width: 96px;
        height: 96px;
        border-radius: 50%;
        background-color: $base-color;

        i[class*='icon-']{
          @include center();
          width: 40px;
          height: 40px;
        }
      }
      .tit{
        margin-top: 24px;
        font-weight: 700;
      }
      .text{
        margin-top: 12px;
        @include font-op(0.5);
      }
    }
  }
}

.category{
  .bg{
    margin-top: 96px;
    padding-top: 48px;
    padding-bottom: 100px;
    background-color: $base-color;
  }
  .flex-box{
    @include flex-box($align: flex-start,$jc: space-between, $gap: 96px);
  }
  .card{
    flex: 1;
    @include text(center);
    opacity: 0;
    transform: translateY(50px);
    &:first-child,
    &:last-child{
      margin-top: -96px;
    }
    .img{
      position: relative;
      display: block;
      height: 512px;
      border-radius: 12px;
      overflow: hidden;
      &::after{
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
      }
      img{
        transition: all 0.3s;
      }
      &:hover{
        &::after{
          display: block;
        }  
        img{
          transform: scale(1.05);
        }
      }
    }
    .tit{
      margin-top: 12px;
      font-weight: 700;
    }
  }
  .btn-explore{
    @extend .btn-more;
    background-color: #fff;
    color: $text-color;
  }
}

.interview{
  padding: 96px 0;
  .inner{
    position: relative;
  }  
  .swiper{
    margin-top: 48px;
    height: 330px;
    overflow: unset;
    &-slide{
      width: 800px;
      padding: 48px;
      border-radius: 12px;
      background-color: $base-color;
    }
    &-pagination{
      top: 0;
      right: 0;
      left: unset;
      bottom: unset;
      width: auto;
      &-bullet{
        width: 12px;
        height: 6px;
        border-radius: 6px;
        background-color: #D9D9D9;
        opacity: 1;
        &-active{
          width: 48px;
          background-color: $base-color;
        }
      }
    }
  }
  &-detail{
    margin-top: 54px;
    @include flex-box($align: flex-start, $gap: 74px);
    .inerviewee{
      &-img{
        position: absolute;
        left: 40px;
        bottom: 0;
        img{
          vertical-align: bottom;
        }
      }
    }
    .name{
      .job{
        font-size: 12px;
        line-height: 18px;
        @include font-op(0.5);
      }
    }
    .evaluation{
      @include flex-box($gap: 12px);
      margin-left: auto;
    }
  }
}
