@charset "utf-8";
@font-face{ /*나눔고딕*/
    font-family:'NanumGothic';
    src:url('font/NanumGothic.eot'); /*IE 호환성 보기*/
    src:url('*'),
        url('font/NanumGothic.eot?#iefix')  format('embedded-opentype'),  /* IE 6 ~ 8 */
        url('font/NanumGothic.woff')  format('woff'),/* 크롬,파이어폭스,IE9이상 */
        url('font/NanumGothic.ttf')  format('truetype');
}
@font-face{ /*나눔바른고딕*/
    font-family:'NanumBarunGothic';
    src:url('font/NanumBarunGothic.eot'); /*IE 호환성 보기*/
    src:url('*'),
        url('font/NanumBarunGothic?#iefix')  format('embedded-opentype'),  /* IE 6 ~ 8 */
        url('font/NanumBarunGothic.woff')  format('woff'),/* 크롬,파이어폭스,IE9이상 */
        url('font/NanumBarunGothic.ttf')  format('truetype');
}
body,div,ul,li,p,h1,h2,h3,h4,h5,h6,button{margin:0;padding:0;}
ul{list-style:none;}
a{text-decoration:none;color:#353535;}
body{font:14px '나눔고딕',arial,san-serif;color:#353535;overflow-x:hidden;}
h2{font:24px/42px arial;}
img{border:0;vertical-align:top;}

/*header*/
/*header-topmenu*/
#header #top_bar{width:100%;height:30px;background-color:#ff9d9e;}
#header #top_bar #top_menu{width:1200px;margin:0 auto;}
#header #top_bar #top_menu ul{float:right;}
#header #top_bar #top_menu ul li{float:left;}
#header #top_bar #top_menu ul li a{font-size:12px;line-height:30px;color:#fff;margin-left:14px;}
#header #top_bar #top_menu ul li a:hover{font-weight:bold;}
/*header-logomenu*/
#header #logo_menu{width:1200px;margin:0 auto;height:138px;padding-top:34px;box-sizing:border-box;}
#header #logo_menu h1{float:left;}
#header #logo_menu #r_wrap{width:auto;height:80px;overflow:hidden;float:right;}
#header #logo_menu #top_menu2{overflow:hidden;}
#header #logo_menu #top_menu2 ul{float:right;}
#header #logo_menu #top_menu2 ul li{float:left;}
#header #logo_menu #top_menu2 ul li a{font-size:12px;margin-left:14px;}
#header #logo_menu #top_menu2 ul li a:hover{color:#c58c56;}
/*search_bar*/
#header #logo_menu #search{border-radius:17px;border:2px solid #ff9d9e;width:277px;height:30px;float:right;margin-top:20px;}
#header #logo_menu #search input{outline:none;border:0;width:220px;height:25px;margin-left:10px;margin-top:2px;}
#header #logo_menu #search button{cursor:pointer;outline:none;float:right;margin-right:10px;margin-top:5px;border:0;background-color:rgba(255,255,255,0);}
/*main_menu*/
#header #main_menu_wrap{width:100%;margin:0 auto;height:52px;border-top:1px solid #ccc;border-bottom:1px solid #ccc;}
#header #main_menu_wrap #main_menu{width:1200px;height:50px;margin:0 auto;}
#header #main_menu_wrap #main_menu ul li{float:left;position:relative;}
#header #main_menu_wrap #main_menu ul li a{display:block;width:200px;height:52px;font-size:18px;line-height:50px;text-align:center;}
/*#header #main_menu_wrap #main_menu ul li a:hover{background-color:#ff9d9e;color:#fff;font-weight:bold;}*/
#header #main_menu_wrap #main_menu ul li a:hover{font-weight:bold;color:#ff9d9e;}
/*submenu*/

#main_menu .submenu{width:200px;position:absolute;top:52px;display:none;z-index:100;}
#main_menu ul li:hover .submenu{display:block;}
#main_menu ul li .submenu li a{background:rgba(0,0,0,0.5);color:#fff;}
#header #main_menu_wrap #main_menu ul li .submenu li a{display:block;width:200px;height:40px;font-size:14px;line-height:40px;text-align:center;}
#header #main_menu_wrap #main_menu ul li .submenu li a:hover{font-weight:normal;color:#ff9d9e;}
/*.submenu li:hover a{font-weight:normal;color:#353535;}*/
/*mainVisual*/
#mainVisual{width:100%;height:480px;margin:0 auto;clear:both;}
#mainVisual .slider > div:first-child{background-color: #fef4ff;}
#mainVisual .slider > div:nth-child(2){background-color: #ffede4;}
#mainVisual .slider > div:nth-child(3){background-color: #fffde4;}
#mainVisual .bx-wrapper{margin-bottom: 0;border: 0;box-shadow: unset;}
#mainVisual .bx-wrapper img{margin: 0 auto;}
#mainVisual .bx-wrapper .bx-controls-direction a{padding: 16px;border-radius: 50%;background: url(../images/arrow2.png) no-repeat center center / contain;opacity: 0.5;}
#mainVisual .bx-wrapper .bx-controls-direction .bx-prev{transform: rotate(180deg);}
#mainVisual .bx-wrapper .bx-controls-direction .bx-next{}
#mainVisual .bx-wrapper .bx-prev:hover,#mainVisual .bx-wrapper .bx-prev:focus,
#mainVisual .bx-wrapper .bx-next:hover,#mainVisual .bx-wrapper .bx-next:focus{background-position: center;opacity: 1;;}
#mainVisual .bx-wrapper .bx-pager{padding-top: 0;bottom: 16px;}
#mainVisual .bx-wrapper .bx-pager.bx-default-pager a{background-color: #fff;}
#mainVisual .bx-wrapper .bx-pager.bx-default-pager a:hover,#mainVisual .bx-wrapper .bx-pager.bx-default-pager a.active,#mainVisual .bx-wrapper .bx-pager.bx-default-pager a:focus{background-color: #ff9d9e;}

/*container*/
.wrap{width:1200px;margin:0 auto;}
.photo{width:377px;height:auto;position:relative;}
.photoBox{overflow:hidden;}
/*a.photoBox{border:1px solid red;width:377px;height:316px;overflow:hidden;}*/
a:hover .photoBox{opacity:0.7;}
.photo span{display:block;position:absolute;z-index:1;
    top:158px;left:138px;width:90px;height:20px;text-align:center;line-height:20px;
    border:1px solid #fff;color:#fff;display:none;}
.photo a{display: inline-block; width: 377px; height: 316px; border-radius: 10px; background-color:#000; overflow:hidden;}
.photo a img{ transition: all .3s;}
.photo a:hover img{transform: scale(1.2);}
.photo a:hover span{display:block;}
.photo a:hover span:hover{background-color:#fff;color:#666;font-weight:bold;}
/*a:hover img.photoBox{}*/
#container h2{padding-left:10px; margin-bottom: 15px; border-left: 3px solid #ff9d9e; font-weight: bold; line-height: 1;}
#container ul{overflow: hidden;}
#container ul li:nth-child(2){margin-left:34px;margin-right:35px;}
#container ul li{float:left;}
#container .title{font:bold 16px/32px '나눔바른고딕';text-align:center;}
#container .price{font-size:14px;line-height:21px;text-align:center;color:#c18243;font-weight:bold;}
/*best_item*/
#container #con_best{height:auto;margin:50px auto;}
#container #con_main{padding:40px 0;background:#fff6f6;}
/*set_item*/
#container #con_set{height:400px;padding: 50px 0;position:relative;background: #ffd0d0;}
#container #con_set .wrap{position: relative;height: 100%;overflow: hidden;}
#container #con_set ul li{float:left;position:absolute;top:0;}
#container #con_set ul li:first-child{left:0;}
#container #con_set ul li:last-child{left:1200px;margin-left:0;}
/*#container #set_item01{position:absolute;top:0;left:0;}
#container #set_item02{position:absolute;top:0;left:1200px;}*/
#container #nav{position:absolute;right:0;bottom:0px;z-index:10;}
#container #nav a{display:inline-block;width:15px;height:15px;border-radius:15px;border:2px solid #c18243;box-sizing:border-box;text-indent:-9999px;}
#container #nav a.on{display:inline-block;width:15px;height:15px;border-radius:15px;background-color:#c18243;text-indent:-9999px;}
/*popular_item*/
#container #con_pop{height:auto;padding:40px 0;background:#f7f7f7;clear:both;}
#container #con_pop ul{overflow:hidden;}
/*event_item*/
#container #con_event{height:400px;margin-top: 50px;overflow:hidden;}
#container #con_event #ev01{width:788px;height:400px;background-color:#c18243;float:left;margin-right:35px;}
#container #con_event #ev02,#ev03{width:376px;height:185px;background-color:#000;float:right;}
#container #con_event #ev03{margin-top:32px;}
/*sns_icon*/
#container #sns{clear:both;width:100%;height:155px;box-sizing:border-box;}
#container #sns ul{width:232px;height:70px;margin:0 auto;margin-top:54px;}
#container #sns ul li{margin:10px;/*filter:grayscale(1);*/}
#container #sns ul li a.btn{display:block;width:57px;height:57px;overflow:hidden;position:relative;opacity: 0.5;}
#container #sns ul li a:hover.btn{opacity: 1;}
#container #sns ul li a:hover.btn img{position:absolute;top:-57px;}
/*footer*/
#footer{width:100%;height:280px;background-color:#f8f8f8;}
#footer #footer_wrap{width:1200px;margin:0 auto;padding-top:55px;}
#footer #ps_info{width:580px;float:left;}
#footer #ps_info ul{width:230px;overflow:hidden;}
#footer #ps_info ul li{float:left;}
#footer #ps_info ul li a{font:bold 12px/21px '나눔고딕';}
#footer #ps_info p{font-size:12px;line-height:21px;margin-top:21px;}
#footer #ps_info p img{margin-left:125px;}
#footer #ps_bank,#ps_center{width:270px;height:126px;float:left;border-left:1px solid #666;padding-left:5px;margin-left:30px;}
#footer #ps_bank h4{font:bold 16px/21px '나눔고딕';margin-bottom:30px;}
#footer #ps_bank p{font-size:12px;line-height:26px;}
#footer #ps_center h4{font:bold 16px/21px '나눔고딕';margin-bottom:30px;}
#footer #ps_center p{font-size:12px;line-height:26px;}